<app-page-view title="Cambia tu contraseña" subtitle="Escribe tu nueva contraseña para tu cuenta de TuGuiaQuindio">
  <main>
    <p>Elige una nueva contraseña para tu cuenta</p>
    <form [formGroup]="form" (submit)="onFormSubmit($event)">
      <app-input label="Nueva contraseña" type="password" formControlName="password"></app-input>
      <app-input label="Confirmar nueva contraseña" type="password" formControlName="confirmPassword"></app-input>
      <app-button type="special">Cambiar contraseña</app-button>
    </form>
  </main>
</app-page-view>
