  <section class="image-section">
    <img src="assets/images/login/login-splash.svg" alt="">
  </section>
<main class="login-container">
  <section class="form-section">
    <header>
      <app-title-bar title="Empresa" subtitle="Completa el siguiente formulario para continuar"></app-title-bar>
    </header>
    <app-form-box-message #formBoxMsg type="error" message="Adipisicing facere earum atque non mollitia corrupti Exercitationem illo quas corrupti porro eos perspiciatis. Tempora repudiandae culpa repudiandae suscipit nesciunt Esse fugit nostrum officia quae doloremque repudiandae consequuntur. Maxime temporibus"></app-form-box-message>
    <form #elForm class="form-group" (submit)="onFormSubmit()" [formGroup]="form">
      <app-input label="NIT" formControlName="nit"></app-input>
      <app-input label="Nombre de la empresa" formControlName="name"></app-input>
      <app-input label="Dirección" formControlName="address"></app-input>
      <app-input label="Correo Electrónico" type="email" formControlName="email"></app-input>
      <app-input label="Contraseña" type="password" formControlName="password"></app-input>
      <app-input label="Confirmar contraseña" type="password" formControlName="confirmPassword"></app-input>
      <app-button type="special" buttonType="submit">Registrarse</app-button>
    </form>
  </section>
</main>
