<app-page-view title="Perfíl de usuario" subtitle="Aquí tienes todos los detalles de este perfíl">
  <main class="page-section">
  <ng-container *ngIf="!noGuideFound; else noGuide">
    <section class="guide-section">
      <app-guide-card [name]="(name$ | async)!" [items]="(items$ | async)!"></app-guide-card>
    </section>
    <section class="info-section">
      <app-extra-info-card [additionalInfo]="(additionalInfo$ | async)!" [languages]="(languages$ | async)!"></app-extra-info-card>
      <ng-container *ngIf="contactInfoLocked; else unlocked">
        <app-button type="special" (click)="onHireClick()">Contrátame</app-button>
      </ng-container>
      <ng-template #unlocked>
        <app-contact-info [tel]="(contactInfo$ | async)?.tel ?? ''" [email]="(contactInfo$ | async)?.email ?? ''"></app-contact-info>
      </ng-template>
    </section>
  </ng-container>
  <ng-template #noGuide>
    <section class="no-guide">
      <p class="superheading">No encontramos lo que buscabas</p>
      <p class="heading">El perfil de usuario <span class="guide-id">{{profileId}}</span> no existe</p>
      <p class="subtitle">Prueba a buscar otra vez</p>
      <app-button type="special" routerLink="/profile/guides">Ir a tus guías</app-button>
    </section>
  </ng-template>
  </main>
  <footer>
  </footer>
</app-page-view>

