<app-nav></app-nav>
<main class="landing-page-container">
  <section class="hero-section">
    <section class="text-section">
      <h1>Tu Guía Quíndio</h1>
      <p>Amet molestiae nobis eligendi nulla quidem. Dignissimos dolores accusamus asperiores mollitia dolor? Expedita sequi corporis ea deleniti nulla. Necessitatibus qui corporis delectus neque provident. Minus praesentium voluptate cum nulla nulla?</p>
      <div class="button-group">
        <app-button type="special">Contrata como empresa</app-button>
        <span>o</span>
        <app-button type="emphasis">Regístrate como guía</app-button>
      </div>
    </section>
    <section class="image-section">
      <img src="assets/images/hero-image.png" alt="Ilustración">
    </section>
  </section>
  <section class="our-platform-section">
    <img src="assets/images/landing/top-decoration.svg" alt="decoration image">
    <div class="content">
      <p class="title">Nuestra plataforma</p>
      <p>Consectetur sed nesciunt quas architecto doloribus exercitationem debitis eum soluta. Suscipit eligendi magni quas recusandae deserunt! Suscipit eaque enim quo corrupti reprehenderit Nemo omnis accusantium cupiditate libero sequi? Sed voluptatibus.</p>
    </div>
    <img src="assets/images/landing/bottom-decoration.svg" alt="decoration image">
  </section>
  <section class="features-section">
    <p class="title">Impacto relevante sobre el sector</p>
    <div class="content">
        <img src="assets/images/landing/map-markers.svg" alt="Marcadores de mapa">
        <p>Elit doloribus aliquam omnis perspiciatis consectetur, tempora. Adipisicing ipsa cum iure aliquam molestias molestias magni assumenda quasi. Architecto aperiam suscipit nostrum voluptate tenetur Fugiat officiis quasi illum expedita animi? Voluptatem</p>
        <img src="assets/images/landing/chat-messages.svg" alt="Mensajes de chat">
        <p>Elit doloribus aliquam omnis perspiciatis consectetur, tempora. Adipisicing ipsa cum iure aliquam molestias molestias magni assumenda quasi. Architecto aperiam suscipit nostrum voluptate tenetur Fugiat officiis quasi illum expedita animi? Voluptatem</p>
    </div>
  </section>
</main>
<app-footer></app-footer>
