<app-nav></app-nav>
<main class="landing-page-container">
  <section class="hero-section">
    <section class="text-section">
      <img src="/assets/images/icon.svg">
      <h1>Tu Guía Quíndio</h1>
      <p>La plataforma donde podrás encontrar el personal que necesitas, cuando lo necesitas y como lo necesitas. Facilitamos tu proceso de búsqueda tanto de nuevos empleos para guías turísticos como de personal calificado para tu negocio turístico. La invitación es para tí ¿qué estás esperando?</p>
      <div class="button-group" >
        <app-button type="special" routerLink="/signup/company">Contrata como empresa</app-button>
        <span>o</span>
        <app-button type="emphasis" routerLink="/signup/guide">Regístrate como guía</app-button>
      </div>
    </section>
    <section class="image-section">
      <img src="assets/images/hero-image.png" alt="Ilustración">
    </section>
  </section>
  <section class="our-platform-section">
    <img src="assets/images/landing/top-decoration.svg" alt="decoration image">
    <div class="content">
      <p class="title">Nuestra plataforma</p>
      <p>Somos una plataforma nacida en la región Quindío. Proporcionamos un sitio donde puedes encontrar el personal que necesitas para tu próximo evento de enfoque turístico hoy, y si eres un guía y estás interesado en participar, no se diga más, en nuestra plataforma también hay un lugar para tí.</p>
    </div>
    <img src="assets/images/landing/bottom-decoration.svg" alt="decoration image">
  </section>
  <section class="features-section">
    <p class="title">Impacto relevante sobre el sector</p>
    <div class="content">
        <img src="assets/images/landing/map-markers.svg" alt="Marcadores de mapa">
        <p>Trabajo enfocado al ámbito turístico cerca de donde vives. Con Tu Guía Quindío ofrecemos la facilidad de publicar tus ofertas laborales desde casa, y si eres un Guía, acceder a ella en unos pocos clics.</p>
        <img src="assets/images/landing/chat-messages.svg" alt="Mensajes de chat">
        <p>Un entorno enfocado en empresas turísticas y empleados potenciales. En Tu Guía Quindío no solo puedes buscar vacantes y ofertas de empleo abiertas para nuestro talento humano, también puedes ser contactado por las empresas.</p>
    </div>
  </section>
</main>
<app-footer></app-footer>
