<section class="avatar-content">
  <section class="img">
    <svg width="80" height="80" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_1033_243" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
        <circle cx="15" cy="15" r="15" fill="#C4C4C4" />
      </mask>
      <g mask="url(#mask0_1033_243)">
        <circle cx="15" cy="15" r="15" class="fill-secondary-400" fill="#AAA" />
        <circle cx="15" cy="12" r="6" class="fill-appgreen-600" fill="#555" />
        <circle cx="15" cy="30" r="11" class="fill-appgreen-600" fill="#555" />
      </g>
    </svg>
  </section>
  <section class="languages">
    <app-language-display-short *ngFor="let language of languages$ | async" [language]="language.name | lowercase"
      [level]="language.level.toString()">
    </app-language-display-short>
  </section>
</section>

<hr>

<section class="content">
  <header>
    <p>Arturo cayeh</p>
    <app-badge label="verificado" icon="bx-badge-check" type="emphasis"></app-badge>
  </header>
  <main>
    <section class="about">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quam
        nostrum maiores repellat esse ipsam ad
      </p>
    </section>
    <section class="plugin">
      <section class="badges">
        <app-badge label="Adjuntos" icon="bx-book" type="gold"></app-badge>
      </section>
      <section class="remarks">
        <app-label-icon icon="bx-first-aid" type="text-red-500" lable="primeros auxilios"></app-label-icon>
        <app-label-icon icon="bx-car" type="text-yellow-500" lable="transporte particular"></app-label-icon>
      </section>
    </section>
  </main>
  <footer>
    <app-button type="special">Ver perfil</app-button>
  </footer>
</section>
