<app-nav></app-nav>
<div class="">
    <section class="section flex flex-row flex-wrap ">
        
        <!-- text -->
        <div class="contend-text w-2/4 px-24 py-20 flex flex-col justify-start">
            <h1 class="text-3xl w-36">Contacto</h1>
            <p class=" text whitespace-normal">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ab culpa ipsum accusamus hic iure vero voluptatibus, labore
                consequuntur sapiente quidem iusto in odit ea. Ad illum repudiandae.
            </p>
            <!--  -->
            <div class="w-56 flex flex-wrap">
                <p>ejemplo@email.com</p>
                <p>Direccion contacto</p>
            </div>
        </div>

        <div class="contend-form w-2/4 flex items-center">
            <section class=" shadow-xl w-2/3 ml-8 py-8 px-9 bg-white">
                <h1 class="text-3xl">Envianos un mensaje</h1>
                <form class="flex flex-col" action="">
                    <label for="">Tu nombre</label>
                    <input class="placeholder-gray-500 placeholder-opacity-50 whitespace-normal" placeholder="Nombre" type="text" name="" id="">

                    <label for="">Correo electrónico</label>
                    <input class="placeholder-gray-500 placeholder-opacity-50" placeholder="Correo" type="email" name="" id="">

                    <label for="break-words">mensaje</label>
                    <input class="input-mensaje overflow-x-auto" type="text">
                    <!-- <textarea class="input-mensaje " name="" id="" cols="30" rows="10"></textarea> -->

                    <button class="btn-enviar">Enviar</button>
                </form>
            </section>
        </div>
    
    </section>
</div>

<app-footer></app-footer>