<footer class="w-full">
    <div class="fondo-color1 h-6">
    </div>
    <div class="fondo-color2 h-64 grid grid-cols-2 gap-8 heigth-media gap-mdq400">
        <section class="fondo-color2 <!--border--> py-4 px-24 flex flex-col justify-evenly px1-mdq400">
            <h1 class="text-white text-2xl">Tu Guia Quindio</h1>
            <p class="text-sm text-white" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum molestias consequuntur suscipit voluptatibus, illo.</p>
            <div class="flex flex-row justify-start divmdq400" >
                <a class="text-white text-xl mr-8" routerLink="/login">Inicio</a>
                <a class="text-white text-xl ml-8" routerLink="#">Perfil</a>
            </div>
        </section>
        <section class="fondo-color2 <!--border--> py-4 px-24 text-xl flex justify-evenly items-end px2-mdq400 py2-mdq400">
            <a class="text-white pb-6 pr" routerLink="">Acerca de</a>
            <a class="text-white pb-6 pl" routerLink="">Contacto</a>
        </section>     
    </div>
    
</footer>
