<hr>
<article class="input-container">
  <section class="description" (click)="setFocus()">
    <p class="name">{{name}}</p>
    <p>{{description}}</p>
  </section>
  <section class="input-section">
    <container-element [ngSwitch]="inputType">
      <app-address-map *ngSwitchCase="'map'" [formControl]="control" [warningMsg]="warning"></app-address-map>
      <app-upload-compound-input *ngSwitchCase="'file'" [formControl]="control"></app-upload-compound-input>
      <app-input *ngSwitchDefault #input [warningMsg]="warning" [formControl]="control" [type]="inputType" [hideLabel]="true"></app-input>
    </container-element>
    <section *ngIf="hasExamples()" class="examples">
        <p class="title">{{examples!.title}}</p>
        <ul>
          <li *ngFor="let example of examples!.examples">{{example}}</li>
        </ul>
      </section>
  </section>
</article>
