<app-decision-button-container title="Completa tus datos" (acceptclick)="onNextClick()" (cancelclick)="onPreviousClick()" [buttonDefinition]="(decisionButtonDefinition$ | async)!">
  <div *ngIf="formCompleted" class="success-screen">
    <article class="circle">
      <i class="bx bx-check"></i>
    </article>
    <h2>¡Excelente!</h2>
  </div>
  <form [formGroup]="dataForm">
  <app-slideshow #slideshow [provideSlidecount]="true"  [count]="(slides$ | async)?.length ?? 1">
    <app-guide-extra-form #form></app-guide-extra-form>
  </app-slideshow>
  </form>
  <app-bubble-slide-indicator [count]="(slideshowState$ | async)!.count" [currentSlideIndex]="(slideshowState$ | async)!.currentSlide" ></app-bubble-slide-indicator>
  <p class="caption">Completa tu perfil ahora mismo en pocos pasos.</p>
</app-decision-button-container>
