<div class="nav-container">
  <h1 routerLink="/">{{ titulo }}</h1>
  <section class="user-controls" *ngIf="!hideNavigationButtons">
    <ng-container *ngIf="!isLoggedIn; else userBlock">
      <app-button routerLink="/login" type="emphasis">Inicia sesión</app-button>
      <app-button routerLink="/signup" type="special-pointy">Regístrate</app-button>
    </ng-container>
    <ng-template #userBlock>
      <section class="app-controls">
        <app-button type="round-icon"><i class="bx bxs-bell"></i></app-button>
        <article class="avatar-btn">
          <div class="click-area" (click)="onAvatarClick()">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_1033_243" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
                <circle cx="15" cy="15" r="15" fill="#C4C4C4" />
              </mask>
              <g mask="url(#mask0_1033_243)">
                <circle cx="15" cy="15" r="15" class="fill-secondary-400" fill="#AAA" />
                <circle cx="15" cy="12" r="6" class="fill-appgreen-600" fill="#555" />
                <circle cx="15" cy="30" r="11" class="fill-appgreen-600" fill="#555" />
              </g>
            </svg>
            <i class="bx bx-chevron-down"></i>
          </div>
          <app-dropdown #dropdown [hidden]="true"></app-dropdown>
        </article>
      </section>
      <app-button type="round-icon" (click)="logout()"><i class="bx bx-log-out-circle"></i></app-button>
    </ng-template>
  </section>
</div>
