<div class="nav-container">
  <section routerLink="/" class="company">
    <img src="/assets/images/icon.svg">
    <h1 >{{ titulo }}</h1>
  </section>
  <section class="user-controls" *ngIf="!hideNavigationButtons">
    <ng-container *ngIf="!isLoggedIn; else userBlock">
      <app-button routerLink="/login" type="emphasis">Inicia sesión</app-button>
      <app-button routerLink="/signup" type="special-pointy">Regístrate</app-button>
    </ng-container>
    <ng-template #userBlock>
      <section class="app-controls">
        <app-button type="round-icon"><i class="bx bxs-bell"></i></app-button>
        <article class="avatar-btn">
          <div class="click-area" (click)="onAvatarClick()">
            <app-avatar></app-avatar>
            <i class="bx bx-chevron-down"></i>
          </div>
          <app-dropdown #dropdown [hidden]="true"></app-dropdown>
        </article>
      </section>
      <app-button type="round-icon" (click)="logout()"><i class="bx bx-log-out-circle"></i></app-button>
    </ng-template>
  </section>
</div>
