<main class="choose-container">
  <app-title-bar title="Elige tu opción" subtitle="A continuación elige un tipo de registro" align="center"></app-title-bar>
  <section class="card-group">
    <app-option-card *ngFor="let option of options; index as i" (click)="onCardClick(i)" [selected]="selectedIdx===i"  [title]="option.title"><p>{{ option.description }}</p></app-option-card>
  </section>
</main>
<img class="decoration" src="/assets/images/choose-register/bottom-decoration.svg" alt="Decoration">
