<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1033_243" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
    <circle cx="15" cy="15" r="15" fill="#C4C4C4" />
  </mask>
  <g mask="url(#mask0_1033_243)">
    <circle cx="15" cy="15" r="15" class="fill-secondary-400" fill="#DDD" />
    <circle cx="15" cy="12" r="6" class="fill-appgreen-600" fill="#BBB" />
    <circle cx="15" cy="30" r="11" class="fill-appgreen-600" fill="#BBB" />
  </g>
</svg>
