<main #main>
  <article class="bg-primary">primary</article>
  <article class="bg-appblack text-primary">appblack</article>
  <article class="bg-secondary-400">secondary 400</article>
  <article class="bg-secondary-500 text-primary">secondary 500</article>
  <article class="bg-secondary-600 text-primary">secondary 600</article>
  <article class="bg-accent">accent</article>
  <article class="bg-appgreen-200">appgreen 200</article>
  <article class="bg-appgreen-400">appgreen 400</article>
  <article class="bg-appgreen-600 text-primary">appgreen 600</article>
  <article class="bg-appgreen-700 text-primary">appgreen 700</article>
  <article class="bg-appgray-200">appgray 200</article>
  <article class="bg-appgray-400">appgray 400</article>
  <article class="bg-appgray-500 text-primary">appgray 500</article>
  <article class="bg-appred-300">appred 300</article>
  <article class="bg-appred-500 text-primary">appred 500</article>
</main>
