<section class="container mx-auto scl flex flex-row items-center flex-wrap ">
    <!-- Primer contenedor "form" -->
    <div class="border div-form flex flex-col items-center justify-center px-14 py-8">
        
        <section class="border w-full s2 flex flex-col items-start px-8">

            <div class="title border h-full">
                <h2 class="text-2xl">Inicio sesion</h2>
            </div>
            <form class="border flex flex-col justify-around" action="">
                <label for="">Correo electronico</label>
                <input type="email">
                
                <label for="">Contraseña</label>
                <input type="password">
                
                <!-- input de radio -->
                <div>
                    <input type="radio">
                    <label for="">Recuérdame</label>
                </div>
                <div class="pt flex ">
                    <button class="min-w-full">Iniciar sesion</button>
                    <a class="min-w-full" routerLink="">Regitrarme</a>
                </div>
            </form>

        </section>
            
    </div>

    <!-- Segundo contenedor "Img" -->
    <div class="border c-img">
        <p>hola</p>
    </div>
</section>