  <section class="image-section">
    <img src="assets/images/login/login-splash.svg" alt="">
  </section>
<main class="login-container">
  <section class="form-section">
    <header>
      <app-title-bar title="¡Hola de nuevo!" subtitle="Nos alegra mucho volver a verte"></app-title-bar>
    </header>
    <form class="form-group">
      <app-input label="Correo electrónico"></app-input>
      <app-input label="Contraseña"></app-input>
      <app-button type="special">Iniciar sesión</app-button>
    </form>
  </section>
</main>
