  <section class="image-section">
    <img src="assets/images/login/login-splash.svg" alt="">
  </section>
<main class="login-container">
  <section class="form-section">
    <header>
      <h1 class="title">¡Hola de nuevo!</h1>
      <p class="subtitle">Nos alegra mucho volver a verte</p>
    </header>
    <form class="form-group">
      <app-input label="Correo electrónico"></app-input>
      <app-input label="Contraseña"></app-input>
      <app-button type="special">Iniciar sesión</app-button>
    </form>
  </section>
</main>
