  <section class="image-section">
    <img src="assets/images/login/login-splash.svg" alt="">
  </section>
<main class="login-container">
  <section class="form-section">
    <header>
      <app-title-bar title="¡Hola de nuevo!" subtitle="Nos alegra mucho volver a verte"></app-title-bar>
    </header>
    <form #elForm class="form-group" (submit)="onFormSubmit()" [formGroup]="form">
      <app-input label="Correo electrónico" type="email" formControlName="email"> </app-input>
      <app-input label="Contraseña" type="password" formControlName="password"> </app-input>
      <app-button type="special" buttonType="submit">Iniciar sesión</app-button>
    </form>
  </section>
</main>
