/* You can add global styles to this file, and also import other style files */

/* 1) Primera forma de importarlo */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 2) segunda forma de importarlo */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'toastify-js/src/toastify.css';

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Varela+Round&family=Cabin&display=swap');

:root{
  [data-theme="default"] {
    --color-primary: 255 255 255;
    --color-appblack: 0 0 0;
    --color-secondary-400: 187 241 154;
    --color-secondary-500: 111 206 103;
    --color-secondary-600: 51 189 103;
    --color-accent: 92 225 201;
    --color-darkaccent: 76 68 81;
    --color-dark-400: 159 159 159;
    --color-dark-500: 131 131 131;
    --color-dark-600: 76 68 81;
    --color-appgray-100: 241 241 241;
    --color-appgray-200: 229 229 229;
    --color-appgray-400: 163 163 163;
    --color-appgray-500: 115 115 115;
    --color-appred-300: 252 165 165;
    --color-appred-500: 239 68 68;
    --color-appgreen-200: 187 247 208;
    --color-appgreen-400: 74 222 128;
    --color-appgreen-600: 22 163 74;
    --color-appgreen-700: 21 128 61;
    --color-gold-400: 228 181 14;
  }
  
  [data-theme="enterprise"] {
    --color-primary: 255 255 255;
    --color-appblack: 0 0 0;
    --color-secondary-400: 172 235 255;
    --color-secondary-500: 146 207 234;
    --color-secondary-600: 109 189 224;
    --color-accent: 54 207 255;
    --color-darkaccent: 76 68 81;
    --color-appgray-200: 229 229 229;
    --color-appgray-400: 163 163 163;
    --color-appgray-500: 115 115 115;
    --color-appgray-600: 76 68 81;
    --color-appred-300: 252 165 165;
    --color-appred-500: 239 68 68;
    --color-appgreen-200: 209 230 250;
    --color-appgreen-400: 165 201 244;
    --color-appgreen-600: 105 155 231;
    --color-appgreen-700: 33 115 191;
    --color-gold-400: 228 181 14;
  }
} 

html, app-root  {
  height: 100%;
}

app-root {
  @apply flex flex-col flex-1;
}

body {
  @apply flex flex-col;
  min-height: 100%;
}

* {
	@apply font-normal;

  &:focus {
    @apply outline outline-accent outline-2;
  }
}
