<app-nav></app-nav>

<!-- <button class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">Hello</button> -->
<div class="container mx-auto">
    <!-- Primer contenido del Home -->
    <!-- PRIMERA SECCIÓN -->
    <section class="<!--bg-gray-500--> s1 height-s1 w-full grid-cols-2 gap-8 flex flex-row flex-wrap">
        <article class="art1 w-2/4 flex flex-col justify-center pl-16 ">
            <h1 class="text-5xl my-8">Lorem Ipsum</h1>
            <p class="text-lg">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Recusandae perspiciatis enim autem nobis mollitia dolorem 
                sapiente quisquam totam labore laborum aliquam dignissimos dolore, 
                voluptatum libero quo laudantium amet ab ipsum.
            </p>
            <div class="flex flex-row justify-start my-8 ">
                <a class="text-center fondo-color-a1 w-full rounded py-2 mr-3" routerLink="">...</a>
                <a class="text-center fondo-color-a2 w-full rounded py-2 ml-3" routerLink="">...</a>
            </div>

        </article>
        <article class="">

        </article>
    </section>

    <!-- -------- -> SEGUNDA SECCIÓN <- ------------ -->
    <section class="s2 fondo-color-s2 flex flex-col justify-center">
        <div class="div-s2 flex flex-col flex-wrap justify-center px-14 border">
            <p class="text-center">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Ipsum labore provident cumque illo quis ab praesentium porro,
                commodi debitis tempore magnam pariatur nam eum, quaerat sapiente adipisci?
                Rerum, consectetur nulla? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatem eius dolore quibusdam expedita placeat, quia molestias assumenda.
                Sapiente eius, dicta commodi ullam voluptates eveniet excepturi expedita officiis.
                Cum, commodi ut.
            </p>
        </div>
    </section>

    <!-- -------- -> TERCERA SECCIÓN <- ------------ -->
    <!-- Tarjetas -->
    <section class="section3 container flex justify-center gap-8 min-h-screen py-8 px-8">

        <article class=" tarjeta flex flex-col justify-around items-center px-4">
            <div class="img-tarjetas ">
                <img  src="" alt="">
            </div>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi id,
                facilis nisi deserunt veritatis officiis, quaerat ipsum, fugit repellendus
                laboriosam
            </p>
            <a class="a-targeta w-32 rounded text-center mr-3" routerLink="">...</a>
        </article>
        <article class=" tarjeta flex flex-col justify-around items-center px-4">
            <div class="img-tarjetas ">
                <img  src="" alt="">
            </div>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi id,
                facilis nisi deserunt veritatis officiis, quaerat ipsum, fugit repellendus
                laboriosam
            </p>
            <a class="a-targeta w-32 rounded text-center mr-3" routerLink="">...</a>
        </article>
        <article class=" tarjeta flex flex-col justify-around items-center px-4">
            <div class="img-tarjetas ">
                <img  src="" alt="">
            </div>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi id,
                facilis nisi deserunt veritatis officiis, quaerat ipsum, fugit repellendus
                laboriosam
            </p>
            <a class="a-targeta w-32 rounded text-center mr-3" routerLink="">...</a>
        </article>
        <article class="tarjeta flex flex-col justify-around items-center px-4">
            <div class="img-tarjetas ">
                <img  src="" alt="">
            </div>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi id,
                facilis nisi deserunt veritatis officiis, quaerat ipsum, fugit repellendus
                laboriosam
            </p>
            <a class="a-targeta w-32 rounded text-center mr-3" routerLink="">...</a>
        </article>
    </section>
</div>
<app-footer></app-footer>