
//////////////////////////////////////////////
// Primera sección 
.height-s1{
    height: 36.7rem;
}

.fondo-color-a1{
    background-color: #BBF19A;
}

.fondo-color-a2{
    background-color: #C4C4C4;
}

//////////////////////////////////////////////
// Segunda sección 

.s2{
    min-height: 23rem;
    // max-height: 45rem;
}

.div-s2{
    min-height: 18rem;
    // max-height: 15rem;

}

.fondo-color-s2{
    background-color: #EDEDED;
}




//////////////////////////////////////////////
// Tercera sección 

.section3{
    flex-wrap: wrap;
    min-height: 10rem;
}

.tarjeta{
    max-width: 20rem;
    min-height: 25rem;
    // align-items: center;
}

.img-tarjetas{
    background-color: #BBF19A;
    height: 8rem;
    
    width: 8rem;
    border-radius: 8rem;
}

.a-targeta{
    background-color: #C4C4C4;
}



@media (max-width: 400px) { 

    ////////////////////////////////////////
    // Primer contenedor
    .s1{
        flex-wrap: wrap;
        display: grid;
        display: flex;
        grid-template-columns: 1fr;
        justify-content: center;

        min-width: 5rem;
        max-width: 100%;
        
        .art1{
            // min-width: 22rem;
            width: 100%;
            padding-right: 2rem;
            padding-left: 2rem;
        }

        .text-5xl{
            font-size: 2.5rem;
        }

        .text-lg{
            font-size: 1rem;
        }

        // p{
        //     min-width: 20rem;
        // }
    }

    ////////////////////////////////////////
    // Segundo contenedor

    .s2{

        p{
            font-size: 0.9rem;
        }
    }


}