<app-nav></app-nav>

<!-- <button class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">Hello</button> -->
<!-- Primer contenido del Home -->
<section class="container bg-gray-500 height w-full grid-cols-2 ">
    <article class="container w-2/4 border">
        <h1 class="text-5xl">Lorem Ipsum</h1>
        <p class="text-lg">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Recusandae perspiciatis enim autem nobis mollitia dolorem 
            sapiente quisquam totam labore laborum aliquam dignissimos dolore, 
            voluptatum libero quo laudantium amet ab ipsum.
        </p>

    </article>
    <article class="border">

    </article>
</section>
<app-footer></app-footer>